---
layout: default
---

<div class="post">

  <header class="post-header">
    <div class="banner">
      <img src="{{ site.baseurl }}{{ page.banner }}" alt="probabilistic numerics" title="Probabilistic Numerics in Python" />
    </div>
    <br><br>
  </header>

  <article>

    <div class="clearfix">
      {{ content }}
    </div>

    <br>
    <hr>

    {% if page.news %}
      {% include news.html %}
    {% endif %}

    {% if page.selected_papers %}
      {% include selected_papers.html %}
    {% endif %}

  </article>

</div>
