---
---

<div class="row" data-tags="{{ entry.tags }}">
  <div id="{{entry.key}}" class="col-sm-12">
    {% if entry.type == "thesis" %}
      {{reference}}
    {% else %}
      <div class="title">{{entry.title}}</div>
      <div class="author">
        {%- for author in entry.author_array -%}
          {%- assign coauthor_url = nil -%}
          {%- if site.data.coauthors[author.last] -%}
            {%- for coauthor in site.data.coauthors[author.last] -%}
              {%- if coauthor.firstname contains author.first -%}
                {%- assign coauthor_url = coauthor.url -%}
                {%- break -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endif -%}
          {%- capture name -%}{{ author.first }} {{ author.last }}{%- endcapture -%}
          {%- assign name = name | strip -%}
          {%- assign sep = "" -%}
          {%- unless forloop.first -%}
            {%- if forloop.last and forloop.length > 2 -%}
              {%- assign sep = ", and " -%}
            {%- elsif forloop.last -%}
              {%- assign sep = " and " -%}
            {%- else -%}
              {%- assign sep = ", " -%}
            {%- endif -%}
          {%- endunless -%}
          {{ sep }}{% if coauthor_url %}<a href="{{ coauthor_url }}" target="_blank">{{ name }}</a>{% else %}{{ name }}{% endif %}
        {%- endfor -%}
      </div>

      <div class="periodical">
        {%- capture venue -%}
          {%- if entry.type == "article" -%}<em>{{ entry.journal }}</em>
          {%- elsif entry.type == "inproceedings" -%}<em>In {{ entry.booktitle }}</em>
          {%- endif -%}
        {%- endcapture -%}
        {{ venue }}{% if entry.year %}{% if venue != "" %}, {% endif %}{{ entry.year }}{% endif %}
      </div>
    {% endif %}

    <div class="entry-footer">
      <div class="links">
      {% if entry.abstract %}
        <a class="abstract" role="button">Abstract</a>
      {% endif %}
      {% if entry.arxiv %}
        <a href="http://arxiv.org/abs/{{ entry.arxiv }}" target="_blank">arXiv</a>
      {% endif %}
      {% if entry.link %}
        <a href="{{ entry.link }}" target="_blank">Link</a>
      {% endif %}
      {% if entry.pdf %}
        {% if entry.pdf contains '://' %}
        <a href="{{ entry.pdf }}" target="_blank">PDF</a>
        {% else %}
        <a href="{{ entry.pdf | prepend: '/assets/pdf/' | relative_url }}" target="_blank">PDF</a>
        {% endif %}
      {% endif %}
      {% if entry.supp %}
        {% if entry.supp contains '://' %}
        <a href="{{ entry.supp }}" target="_blank">Supp</a>
        {% else %}
        <a href="{{ entry.supp | prepend: '/assets/pdf/' | relative_url }}" target="_blank">Supp</a>
        {% endif %}
      {% endif %}
      {% if entry.blog %}
        <a href="{{ entry.blog }}" target="_blank">Blog</a>
      {% endif %}
      {% if entry.code %}
        <a href="{{ entry.code }}" target="_blank">Code</a>
      {% endif %}
      {% if entry.poster %}
        {% if entry.poster contains '://' %}
        <a href="{{ entry.poster }}" target="_blank">Poster</a>
        {% else %}
        <a href="{{ entry.poster | prepend: '/assets/pdf/' | relative_url }}" target="_blank">Poster</a>
        {% endif %}
      {% endif %}
      {% if entry.slides %}
        {% if entry.slides contains '://' %}
        <a href="{{ entry.slides }}" target="_blank">Slides</a>
        {% else %}
        <a href="{{ entry.slides | prepend: '/assets/pdf/' | relative_url }}" target="_blank">Slides</a>
        {% endif %}
      {% endif %}
      {% if entry.website %}
        <a href="{{ entry.website }}" target="_blank">Website</a>
      {% endif %}
      {% if entry.bibtex_show %}
        <a class="bibtex" role="button">BibTeX</a>
      {% endif %}
      </div>
      {% if entry.tags %}
      <div class="paper-tags">
        {% assign entry_tags = entry.tags | split: "," %}
        {% for t in entry_tags %}
          {% assign tag_id = t | strip %}
          {% assign tag_info = site.data.research_tags | where: "id", tag_id | first %}
          <a href="{{ '/research/' | relative_url }}?tags={{ tag_id }}" class="paper-tag" data-tag="{{ tag_id }}">{{ tag_info.label | default: tag_id }}</a>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    <!-- Hidden abstract block -->
    {% if entry.abstract %}
    <div class="abstract hidden">
      <p>{{ entry.abstract }}</p>
    </div>
    {% endif %}

    <!-- Hidden bibtex block -->
    {% if entry.bibtex_show %}
    <div class="bibtex hidden">
      {% highlight bibtex %}{{ entry.bibtex }}{% endhighlight %}
    </div>
    {% endif %}
  </div>
</div>
