---
layout: default
---

{% if page._styles %}
<style type="text/css">
  {{ page._styles }}
</style>
{% endif %}

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>

    {% if page.img %}
    <div class="article-banner">
      <img src="{{ page.img | relative_url }}" alt="lecture thumbnail"/>
      {% if page.img_caption %}
      <span class="img-caption">{{ page.img_caption }}</span>
      {% endif %}
    </div>
    {% endif %}

    <hr>
    <table>
      <tbody>
        {% if page.date %}
        <tr>
          <td><b>When?</b></td>
          <td>{{ page.date | date: "%B %-d, %Y" }}
            {% if page.date_end %} - {{ page.date_end | date: "%B %-d, %Y" }} {% endif %}

          </td>
        </tr>
        {% endif %}
        {% if page.institution %}
        <tr>
          <td><b>Institution</b></td>
          <td>{{ page.institution }}</td>
        </tr>
        {% endif %}
        {% if page.lecturers %}
        <tr>
          <td><b>Lecturers</b></td>
          <td>
            <!-- {{ page.lecturers }} -->
            {% for author in page.lecturers %}
            {% assign coauthor_url = nil %}
            {% if site.data.coauthors[author.last] %}
              {% for coauthor in site.data.coauthors[author.last] %}
                {% if coauthor.firstname contains author.first %}
                  {% assign coauthor_url = coauthor.url %}
                  {% break %}
                {% endif %}
              {% endfor %}
            {% endif %}

            {% if forloop.length == 1 %}
                {{author.first}} {{author.last}}
            {% else %}
              {% unless forloop.last %}
                  {% if coauthor_url %}
                    <a href="{{coauthor_url}}" target="_blank">{{author.first}} {{author.last}}</a>,
                  {% else %}
                  {{author.first}} {{author.last}},
                  {% endif %}
              {% else %}
                  {% if coauthor_url %}
                    <a href="{{coauthor_url}}" target="_blank">{{author.first}} {{author.last}}</a>
                  {% else %}
                    {{author.first}} {{author.last}}
                  {% endif %}
              {% endunless %}
              {% endif %}
            {% endfor %}
          </td>
        </tr>
        {% endif %}
        {% if page.link %}
        <tr>
          <td><b>Official Site</b></td>
          <td><a href="{{ page.link }}">{{ page.link }}</a></td>
        </tr>
        {% endif %}
        {% if page.url_video %}
        <tr>
          <td><b>Video(s)</b></td>
          <td><a href="{{ page.url_video }}">{{ page.url_video }}</a></td>
        </tr>
        {% endif %}
        {% if page.url_slides %}
        <tr>
          <td><b>Slides</b></td>
          <td><a href="{{ page.url_slides }}">{{ page.url_slides }}</a></td>
        </tr>
        {% endif %}
        {% if page.url_code %}
        <tr>
          <td><b>Code</b></td>
          <td><a href="{{ page.url_code }}">{{ page.url_code }}</a></td>
        </tr>
        {% endif %}
      </tbody>
      </table>
      <hr>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
